<div class="mb70"></div>
<div id="map" class="mb0" style="position: relative; overflow: hidden;"></div>
<script src="http://maps.googleapis.com/maps/api/js?key={{ Model.ContentItem.GoogleMapsPart.APIKey.Value }}"></script>