<a href="{{ Model.ContentItem.SponsorPart.SponsorWebsite.Value }}" target="_blank" class="client" title="{{ Model.ContentItem.SponsorPart.SponsorName.Value }}">
    <img src="{{ Model.ContentItem.SponsorPart.SponsorLogo.FirstMediaUrl }}" alt="{{ Model.ContentItem.SponsorPart.SponsorLogo.Value }}">
</a>
