<div class ="main">
    <div class="fullscreen vertical-center bg-image overlay-container text-center"
         style="background-image:url(Images/page-header-bg.jpg)">
        <div class="overlay dark"></div>

        <div class="vcenter-content">
            <div class="container">
                <h1 class="text-white">
                    {{ Model.ContentItem.TitlePart.Title }}
                </h1>
                <div class="event-countdown is-countdown">
                    <span class="countdown-row countdown-show2">
                        <span class="countdown-section">
                            <span class="countdown-amount">
                                {{ Model.ContentItem.GPUDayPart.Fields[0].DateTime }}
                            </span>
                        </span>
                        <span class="countdown-section">
                            <span class="countdown-amount">
                                {{ Model.ContentItem.GPUDayPart.Fields[1].DateTime }}
                            </span>
                        </span>
                    </span>
                </div>

                <a href="#" class="btn btn-custom btn-lg min-width-lg">Register</a>
            </div>

        </div>
        <div class="mb60"></div>
    </div>
    {{ Model.Content | Display }}
    <a id="scroll-top" href="#top" title="Scroll top" class="fixed">
        <i class="fa fa-angle-up"></i>
    </a>
</div>