{% Style "https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,800" %}
{% Script "https://code.jquery.com/jquery-3.2.1.min.js" %}
{% Style "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %}
{% Script "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %}
{% StyleRequire "FontAwesome" %}

{% Style "../Styles/site.min.css" %}
{% Script "../Scripts/site-head.min.js" %}

<div id="page">
    <div id="main">
        <div id="content-wrapper">
            {% if Model.Messages != null %}
            <div id="messages">
                <div class="container">
                    {{ Model.Messages | Display }}
                </div>
            </div>
            {% endif }
            <div id="content">
                {{ Model.Content | Display }}
            </div>
        </div>
    </div>
    <div id="footer-wrapper">
        <footer>
            {{ Model.Footer | Display }}
        </footer>
    </div>
</div>