<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="widget about-widget">
                    <img src="https://dotneststatic.com/media/gpuday/MediaTheme/Images/wigner_logo.png" alt="Wigner Logo"/>
                    <hr>
                    <address>
                        <label>Contact Us Today:</label> <br>
                        MTA Wigner Fizikai Kutatóközpont 1121 Budapest, Konkoly-Thege Miklós út 29-33.<br><br><br>
                        Email: g̪̯̻̫͔̳ͪ̇̇̿ͫ͗p̦̱̒ͦ̍̍ͮuͧͩ̋̓̋͆@̼͈̪̹̘͐̒͒̌w̮͊̑̐̎͛̏͆i͇̯̋̆̋g͕̮̋̾̀̿nḛ͓͇̰̹̺̲͆̒r̖̲̔̊̄̏̑̌̚.̼̗͙̘̥̿̍̊m͔̗͓̯̯̣̭ͮ͌͆̀̽̚ṯ̣̮͕̿ͅa̻̙͖̻̩ͯ̃ͮ̌͗̾.͖̘͉h̰̟̔̌̒͊ͦ̔u͓ͣͧͩ͊
                    </address>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="widget-title">{{ Model.ContentItem.WidgetPart.Title }}</h4>
                    {{ Model.Content | Display }}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="social-icons">
                <label>Find Us:</label>
                <a href="https://github.com/Wigner-GPU-Lab" target="_blank" class="social-icon" title="Github"><i class="fa fa-github"></i></a>
                <a href="https://www.kfki.hu/" target="_blank" class="social-icon" title="KFKI"><i class="fa fa-home"></i></a>
                <a href="http://wigner.mta.hu/" target="_blank" class="social-icon" title="Wigner"><i class="fa fa-ge"></i></a>
            </div>
        </div>
    </div>
</footer>