<div class="mb40"></div>
<div class="container">
    <h2 class="title dark text-center mb25"><span class="light highlight dark">Sponsors</span></h2>
    {{ Model.Content | Display }}
    <div class="mb40"></div>
</div>