<div class="container">
    <h2 class="title text-center dark mb25"><span class="light highlight dark">Schedule</span></h2>
    <h2 class="title text-center mb25">{{ Model.ContentItem.WidgetPart.Title }}</h2>
     {{ Model.Content | Display }}
</div>