<div class="mb30"></div>
<div class="container">
    <h2 class="title dark text-center mb25"><span class="light highlight dark">Speakers</span></h2>
    {{ Model.Content | Display }}
</div>
<div class="mb40"></div>