body {
    font-size: 14px;
}

.footer {
    background-color: transparent;
    color: white;

    a {
        color: white;
    }
}

.modal .modal-body {
    max-height: 85vh;
    overflow-y: auto;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;

    h3 {
        font-family: "Open Sans", Arial, sans-serif;
    }
}

.main .schedule {
    margin-bottom: 0;
    min-width: 0;
    display: table;

    > .row {
        margin-right: 0;
        margin-left: 0;
    }
}

.event-part {
    min-height: 10vh;

    .event-speaker {
        .comma {
            margin-left: -4px;
        }
    }
}

.last .event-part {
    border-bottom: none;
}

.credits {
    background-color: #121212;
    text-align: right;

    .poweredby {
        margin-right: 10%;
        color: #fff;

        a {
            color: #0069b0;
        }
    }
}

.message-Information {
    background-color: #dff08d;
    border-color: #d6e9c6;
    color: #3c763d;
    text-align: center;
}
