@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

@import "../SimpleTemplate/sass/mixins";
@import "../SimpleTemplate/sass/variables";
@import "../SimpleTemplate/sass/page-loader";
@import "../SimpleTemplate/sass/general";
@import "../SimpleTemplate/sass/typography";
@import "../SimpleTemplate/sass/elements/titles";
@import "../SimpleTemplate/sass/elements/pageheaders";
@import "../SimpleTemplate/sass/elements/collapses";
@import "../SimpleTemplate/sass/elements/tabs";
@import "../SimpleTemplate/sass/elements/buttons";
@import "../SimpleTemplate/sass/elements/forms";
@import "../SimpleTemplate/sass/elements/progressbars";
@import "../SimpleTemplate/sass/elements/services";
@import "../SimpleTemplate/sass/elements/text-blocks";
@import "../SimpleTemplate/sass/elements/tables";
@import "../SimpleTemplate/sass/elements/callouts";
@import "../SimpleTemplate/sass/elements/alerts";
@import "../SimpleTemplate/sass/elements/counters";
@import "../SimpleTemplate/sass/elements/pagination";
@import "../SimpleTemplate/sass/pricing";
@import "../SimpleTemplate/sass/headers/header";
@import "../SimpleTemplate/sass/headers/menu";
@import "../SimpleTemplate/sass/headers/header2";
@import "../SimpleTemplate/sass/headers/header3";
@import "../SimpleTemplate/sass/headers/header4";
@import "../SimpleTemplate/sass/headers/overlaymenu";
@import "../SimpleTemplate/sass/headers/overlaymenu-dark";
@import "../SimpleTemplate/sass/headers/header5";
@import "../SimpleTemplate/sass/headers/sidemenu";
@import "../SimpleTemplate/sass/headers/sidemenu-dark";
@import "../SimpleTemplate/sass/headers/header-colors";
@import "../SimpleTemplate/sass/headers/sticky-header";
@import "../SimpleTemplate/sass/about";
@import "../SimpleTemplate/sass/contact";
@import "../SimpleTemplate/sass/footers";
@import "../SimpleTemplate/sass/owl-carousel";
