.footer 
{
    background-color: transparent;
    color: white;

    a
    {
        color: white;
    }
}

.modal .modal-body 
{
    max-height: 85vh;
    overflow-y: auto;
    font-family: "Times New Roman", Times, serif;

    h3
    {
        font-family: "Times New Roman", Times, serif;
    }

    sub, sup
    {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.main .table
{
    margin-bottom: 0px;
    width: auto;
    min-width: 0;
    display: table;

    > .row
    { 
        margin-right: 0px;
        margin-left: 0px;
    }
}

.last .event-part
{
    border-bottom: none;
}