.footer 
{
    background-color: transparent;
    color: white;

    a
    {
        color: white;
    }
}

.modal .modal-body 
{
    max-height: 85vh;
    overflow-y: auto;
    font-family: "Times New Roman", Times, serif;

    h3
    {
        font-family: "Times New Roman", Times, serif;
    }

    sub, sup
    {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.main .schedule
{
    margin-bottom: 0px;
    min-width: 0px;
    display: table;

    > .row
    { 
        margin-right: 0px;
        margin-left: 0px;
    }
}

.last .event-part
{
    border-bottom: none;
}

.event-part
{
    min-height: 8vh;
}

.credits
{
    background-color: #121212;
    text-align: right;

    .poweredby
    {
        margin-right: 10%;
        color: #fff;

        a
        {
            color: #0069b0;
        }
    }
}